@model Emp_DI_2.Models.Employee

<div style="border:1px solid red;">
    <h4>== Edit Employee Form ==</h4>
    <table>
        <tr class="lineDst_1">
            <td>ID</td>
            <td><input type="text" id="txtEmpID_E_Emp_2" value="@Model.EmployeeID" readonly /></td>
        </tr>
        <tr class="lineDst_1">
            <td>Employee Name</td>
            <td><input type="text" id="txtEmpName_E_Emp_2" value="@Model.EmployeeName" /></td>
        </tr>
        <tr class="lineDst_1">
            <td>Salary</td>
            <td><input type="text" id="txtEmpSalary_E_Emp_2" value="@Model.Salary" /></td>
        </tr>
        <tr class="lineDst_1">
            <td>Department</td>
            <td>
               @Html.DropDownList("dropLst_Edit_Emp_2", ViewBag.selectLst_DeptAll as SelectList, string.Empty,
        new { id = "dllDeptEdit_Emp_2", @class = "form -control" })
            </td>
        </tr>
        <tr>
            <td><input type="button" id="btnSave_E_Emp_2" value="Save" /></td>
            <td><input type="button" id="btnCancel_E_Emp_2" value="Cancel" /></td>
        </tr>
    </table>
</div>
